/*热门与下拉和搜索大框*/
.ts_cones{
    width: 69%;
    height: 50px;
    margin: 0 0 -20px 335px ;
    position: absolute;
}
.tsg_topit{
    width: 25%;
    height: 50px;
    border: 1px solid #000000;
    margin: 5px 0 0 -120px ;
    float: left;
    position: absolute;
}
/*热门推荐图标*/
.topit1 img{
    width:30px;
    height: 30px;
    float: left;
    margin: 5px -25px;
    position: absolute;
}
/*热门推荐字体设置*/
.topit1{
    color: #108ce9;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    word-spacing: 30px;
    margin: 6px 0 0 -80px;
    position: relative;
}
.topit1 h3{
    margin: 10px  5px;
    position: absolute;
}
/*图书推荐图标*/
.topit2 img{
    width:37px;
    height: 37px;
    float: left;
    margin: 5px 0 0 -55px;
    position: absolute;
}
/*图书推荐字体设置*/
.topit2{
    color: #108ce9;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    word-spacing: 30px;
    margin: 6px 0 0 65px;
    position: relative;
}
.topit2 h3{
    margin: 10px  -20px;
    position: absolute;
}

/*阅读荐书图标*/
.topit3 img{
    width:31px;
    height: 31px;
    float: left;
    margin: 5px 70px;
    position: absolute;
}
/*阅读荐书字体设置*/
.topit3{
    color: #108ce9;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    word-spacing: 30px;
    margin: 6px 0 0 65px;
    position: relative;
}
.topit3 h3{
    margin:10px  105px;
    position: absolute;
}
/*热门书籍字体设置*/
a{
    color: #000;
    text-decoration:none;
    padding-bottom: 8px;

}
/*下拉框*/
#u_input{
    width: 250px;
    height: 32px;
    float:left;
    margin: -2px 0 0 685px;
    position: relative;

}
/*搜索框*/
#tsg_mane{
    width: 380px;
    height: 32px;
    font-family: 'Microsoft YaHei';
    float:left;
    margin: -32px 0 0 940px;
    position: relative;
}
input{
    width: 302px;
    border: 1px solid #000000;
    height: 32px;
    float: left;
    background-image: url(images/search.jpg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:20px center;
    padding:0 0 0 40px;

}
#search{
    width: 78px;
    height: 32px;
    float: right;
    background-color: #393d49;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

}