/*中间部分*/
.middle{
	width: 100%;
	height: 980px;
	position: relative;
}
/*图书展示大框*/
.tsg_classify{
	width:1420px;
	height: 1050px;
	border: 1px solid #E5ECF0;
	margin: 5px 0 0 240px ;
	position: absolute;
	
}
/*书本灰色边框*/
#tsg_among{
	width: 250px;
	height:295px;
	border: 1px solid #ccc;
	margin: 18px 0 0  27px;
	float:left;
	position: relative;
}

/*书籍图片设置*/
#tsg_among img{
	 width: 110px;
	 height: 120px;
	 margin:15px 0 0 70px;
}
/*俞敏洪*/
h4{
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	font-weight: 200;
	position: absolute;
	color: #1f7cb6;
	margin: 12px 0 0 100px;
}
/*愿你的青春不负梦想字体设置*/
#tsg_among p{
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	font-weight: 200;
	position: absolute;
	color: #000000;
	margin: 35px 0 0 85px;
}
/*五星评分*/
.comment{
    font-size: 25px;
    color: orange;
    margin: 50px 0 0 75px;
    position: absolute;
}
 
.comment li{
    float:left;
    cursor: pointer;
}
 
ul{
    list-style: none;
}

/*借阅按钮*/
#button{
	width: 90px;
	height: 45px;
	border: 1px solid #DCDCDC;
	background-color:#5cd053;
	position:fixed;
	display: flex;
	justify-content: center;
	margin: 90px 0 0 15px;
	position:absolute;
	border-radius: 10px;
}
a:hover{
	color: #d98c1d;
}
/*预约按钮*/
#make{
	width: 90px;
	height: 45px;
	border: 1px solid #DCDCDC;
	background-color:#5cd053;
	position:fixed;
	display: flex;
	justify-content: center;
	margin:90px 0 0 145px;
	position: absolute;
	border-radius: 10px;
}
/*借阅、预约按钮字体设置*/
a{
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	color: #FEFEFE;
	text-decoration: none;
	line-height:45px;
	margin-left: 1px;
}


/*分页*/
*{padding:0;margin:0}
   ul,li{
   	list-style:none;
   	}
   .left{
   	float:left;
   	}
   .right{
   	float:left;
   	}
   .page_container{
   	height: 30px; 
   	line-height: 30px;
   	width: 510px;
   	overflow: hidden;
   	text-align: center;
	   padding: 30px 700px;
   	color: #757575;
   	position: absolute;
   	}
   .page_num_container{
   	width: 301px;
   	margin:0 10px;
   	border:1px solid #ccc;
   	 border-right:0;
   	 box-sizing: border-box;
   	 overflow: hidden;
   	 height: 32px;
   	 }
   .page_num_container ul{
    position: relative;
   	top: 0;
   	}
   .page_num_container ul li{
   	float: left;
   	width: 30px;
   	border-right:1px solid #ccc ;
   	box-sizing: border-box;
   	text-align: center;
   	cursor: pointer;
   	}
   .page_num_container ul li:hover,.page_num_container ul li.active{ 
   	background: #f4a100;
   	color: #fff;
   	position: relative;
   	}
   .page_btn{
   	width: 60px;
   	border:1px solid #ccc;
   	box-sizing: border-box;
   	cursor: pointer;
   	}
   .page_btn:hover{
   	 background: #f4a100;
   	 color: #fff;
   	 }
   .all_page:hover{
   	background:none;
   	color: #757575;
   	}
   .prev_btn{
   	margin-right: 10px;

   	}
   	
   	
 