.main{
	width: 75%;
	height: 529px;
	margin: 0 0 0 218px;
	position: absolute;
}
/*左边大边框*/
.main-left{
	width:350px;
	height: 526px;
	border: 1px solid #CCCCCC;
	float: left;
	margin: 18px 0 5px 20px;
	position: relative;
}
/*第一个小边框1*/
.service-box1{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #99E0F2;
	position:fixed;
	float: left;
	display: flex;
	justify-content: center;
	margin: 1px 1px;
	position: absolute;
}
.service-pic img{
	width:65px;
	height: 65px;
	margin-top:6px;
}
.service-name{
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
	position: absolute;
	margin-top: 90px;
	position: absolute;
}
/*第二个小边框2*/
.service-box2{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #9DD9FB;
	position:fixed;
	float: right;
	margin-left: 1px;
	display: flex;
	justify-content: center;
	margin: 1px 175px;
	position: absolute;
}

/*第三个小边框3*/
.service-box3{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #B3C2F9;
	position:fixed;
	float: right;
	margin-left: 1px;
	display: flex;
	justify-content: center;
	margin: 132px 1px;
	position: absolute;
}

/*第四个小边框4*/
.service-box4{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #99BCE2;
	position:fixed;
	float: left;
	display: flex;
	justify-content: center;
	margin: 132px 175px;
	position: absolute;
}
/*第五个小边框5*/
.service-box5{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #9DD9FB;
	position:fixed;
	float: left;
	display: flex;
	justify-content: center;
	margin: 262px 1px;
	position: absolute;
}
/*第六个小边框6*/
.service-box6{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #99E0F2;
	position:fixed;
	float: right;
	margin-left: 1px;
	display: flex;
	justify-content: center;
	margin: 263px 175px;
	position: absolute;
}
/*第七个小边框7*/
.service-box7{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #99BCE2;
	position:fixed;
	float: right;
	margin-left: 1px;
	display: flex;
	justify-content: center;
	margin: 394px 1px;
	position: absolute;
}
/*第八个小边框8*/
.service-box8{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #B3C2F9;
	position:fixed;
	float: right;
	margin-left: 1px;
	display: flex;
	justify-content: center;
	margin: 394px 175px;
	position: absolute;
}
/*右边图片的大边框*/
.maer-right{
	width:480px;
	height: 450px;
	position:fixed;
	float: left;
	display: flex;
	justify-content: center;
	left:620px;
	top: 20px;
	position: absolute;
}
.container {
	margin: 20px auto;
	width: 450px;
	height: 420px;
	overflow: hidden;
	margin-left: -180px;
	position: relative;
}
.photo {
	position: absolute;
	animation: round 16s infinite;
	opacity: 0;
}
@keyframes round {
	25% {
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
}
img:nth-child(1) {
	animation-delay: 12s;
}
img:nth-child(2) {
	animation-delay: 8s;
}

img:nth-child(3) {
	animation-delay: 4s;
}
*{
	margin:0;
	padding:0;
	list-style:none;
	font-size:14px;
}
/*外边框的大框*/
.nTab{
	width:1030px;
	height: 525px;
	margin:20px auto;
	border:1px solid #CCCCCC;
	overflow:hidden;
	margin: -2px 70px;
	position: absolute;
}
/*小圆点*/
ul.disc li{
	list-style-type: disc;
}
ul.disc li:hover{
	color: #28921f;
}
.none {
	display:none;
}
/*重图动态、业界动态文字设置*/
.nTab .TabTitle li{
	float:left;
	cursor:pointer;
	line-height:50px;
	font-weight:bold;
	text-align:center;

}
/*滑动门选项卡、兼容性好文字设置*/
#myTab_Content0{
    margin: -219px -180px;
	position: absolute;
}
.disc li a{
	border-bottom: 1px dashed #CCCCCC;
	width: 8em;
	font-size: 18px;
	color: #000000;
	text-decoration: none;
}
.disc li a:hover{
	color: #28921f;
}
#myTab_Content1{;
	margin: -219px -180px;
	position: absolute;
}

/*重图动态*/
.nTab .TabTitle .active{
	width:515px;
	height:50px;
	font-size: 18px;
	font-weight:100;
	background:#99E0F2;
	color:#000000;
}
/*业界动态*/
.nTab .TabTitle .normal{
	width:515px;
	height:50px;
	font-size: 18px;
	font-weight:100;
	background:#ccc;
	color:#000000;
}
/*重图动态、业界动态选项卡框*/
.nTab .TabContent{
	clear:both;
	overflow:hidden;
	padding:102px;
	display:block;
	float: right;
	margin:136px 220px;
}

/*详情页面*/
.tsg_details{
	width: 1100px;
	height:500px;
	border: 1px solid #CCCCCC;
	margin: 0 auto;
}
/*图片设置*/
.tsg_picture{
	width: 350px;
	height:350px;
	border: 1px solid #CCCCCC;
	position:fixed;
	display: flex;
	justify-content: center;
	left:550px;
	margin-top: 50px;

}
#demo a {
	width:100%;
	overflow:hidden;
	font-size: 16px;
	display:block;
	text-decoration:none;
	margin:2px;
	color:#4a551c;
	padding-left:2px;
	text-align:left;
}
#demo  a:hover {
	color:#ff6600;
}
#demoe a {
	width:100%;
	overflow:hidden;
	font-size: 16px;
	display:block;
	text-decoration:none;
	margin:2px;
	color:#4a551c;
	padding-left:2px;
	text-align:left;
}
#demoe  a:hover {
	color:#ff6600;
}
