.main{
	width: 75%;
	height: 529px;
	margin: 0 0 0 218px;
	position: absolute;
}
/*左边大边框*/
.main-left{
	width:350px;
	height: 526px;
	border: 1px solid #DCDCDC;
	float: left;
	margin: 18px 0 5px 2px;
	position: relative;
}
/*第一个小边框1*/
.service-box1{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #99E0F2;
	position:fixed;
	float: left;
	display: flex;
	justify-content: center;
	margin: 1px 1px;
	position: absolute;
}
.service-pic img{
	width:65px;
	height: 65px;
	margin-top:6px;
}
.service-name{
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
	position: absolute;
	margin-top: 90px;
	position: absolute;
}
/*第二个小边框2*/
.service-box2{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #9DD9FB;
	position:fixed;
	float: right;
	margin-left: 1px;
	display: flex;
	justify-content: center;
	margin: 1px 175px;
	position: absolute;
}

/*第三个小边框3*/
.service-box3{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #B3C2F9;
	position:fixed;
	float: right;
	margin-left: 1px;
	display: flex;
	justify-content: center;
	margin: 132px 1px;
	position: absolute;
}

/*第四个小边框4*/
.service-box4{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #99BCE2;
	position:fixed;
	float: left;
	display: flex;
	justify-content: center;
	margin: 132px 175px;
	position: absolute;
}
/*第五个小边框5*/
.service-box5{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #9DD9FB;
	position:fixed;
	float: left;
	display: flex;
	justify-content: center;
	margin: 262px 1px;
	position: absolute;
}
/*第六个小边框6*/
.service-box6{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #99E0F2;
	position:fixed;
	float: right;
	margin-left: 1px;
	display: flex;
	justify-content: center;
	margin: 263px 176px;
	position: absolute;
}
/*第七个小边框7*/
.service-box7{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #99BCE2;
	position:fixed;
	float: right;
	margin-left: 1px;
	display: flex;
	justify-content: center;
	margin: 394px 1px;
	position: absolute;
}
/*第八个小边框8*/
.service-box8{
	width:173px;
	height: 130px;
	border: 1px solid #DCDCDC;
	background-color: #B3C2F9;
	position:fixed;
	float: right;
	margin-left: 1px;
	display: flex;
	justify-content: center;
	margin: 395px 176px;
	position: absolute;
}
/*右边大边框*/
.maer-right{
	width:480px;
	height: 300px;

	position:fixed;
	float: left;
	display: flex;
	justify-content: center;
	left:500px;
	top: 20px;
	position: absolute;
}

/*右边图片的大边框*/
.maer-right{
	width:480px;
	height: 450px;
	position:fixed;
	float: left;
	display: flex;
	justify-content: center;
	left:620px;
	top: 20px;
	position: absolute;
}

/*右边框图片*/
.maer-right img{
	width:450px;
	height: 420px;
	border: 1px solid #00a4ac;
	float: left;
	margin:23px -220px;
	position: absolute;
}

*{
	margin:0;
	padding:0;
	list-style:none;
	font-size:14px;
}
/*外边框的大框*/
.nTab{
	width:1025px;
	height: 525px;
	margin:20px auto;
	border:1px solid #00A4AC;
	overflow:hidden;
	margin: -2px 45px;
	position: absolute;
}
.none {
	display:none;
}
/*重图动态、业界动态文字设置*/
.nTab .TabTitle li{
	float:left;
	cursor:pointer;
	line-height:50px;
	font-weight:bold;
	text-align:center;

}
.nTab .TabTitle li a{
	text-decoration:none;
}
/*重图动态*/
.nTab .TabTitle .active{
	width:512px;
	height:50px;
	background:#99E0F2;
	color:#336699;
}
/*业界动态*/
.nTab .TabTitle .normal{
	width:513px;
	height:50px;
	background:#ccc;
	color:#fff;
}
/*重图动态、业界动态选项卡框。同一页面、兼容性好文字样式*/
.nTab .TabContent{
	clear:both;
	overflow:hidden;
	padding:95px;
	display:block;
	float: right;
	margin:136px 220px;
}

/*详情页面*/
.tsg_details{
	width: 1100px;
	height:500px;
	border: 1px solid #CCCCCC;
	margin: 0 auto;
}
/*图片设置*/
.tsg_picture{
	width: 350px;
	height:350px;
	border: 1px solid #CCCCCC;
	position:fixed;
	display: flex;
	justify-content: center;
	left:550px;
	margin-top: 50px;

}
