/**/
.nav{
	width: 100%;
	height: 70px;
}
/*导航条*/
.navbar{
	width: 100%;
	height: 70px;
	border: 1px solid #cccc;
	background: #393d49;
	size: 20px;
	margin: 0 0 7px 0;
}
/*logo设置*/
.nav_img2{
	list-style: none;
	float:left;
	margin: -2px 30px;
	color: #FFFFFF;
}
/*导航内容*/
.nav_1{
	list-style: none;
	float:left;
	margin: 20px 30px;
	color: #FFFFFF;
	size: 20px;
}
.nav_2{
	list-style: none;
	float:right;
	margin: 20px 30px;
	color: #FFFFFF;
	size: 20px;
}
/*a标签设置*/
a{
	color: #FFFFFF;
	text-decoration: none;
}
a:hover{
	color: #1ab188;
}
/*登录设置*/
.nav_img{
	list-style: none;
	float:right;
	position: absolute;
	margin: 20px 0 0 1680px;
}