/*导航条*/
.key_top{
	width:100%;
	height: 78px;
	background-color: #393d49;
	margin: -8px 0 0px -9px;
	position: absolute;
}
.heg{
	margin:30px 0 0 35px;
}
/*导航内容*/
li{
	list-style: none;
	float:left;
	margin: 0 30px;
	color: #FFFFFF;
	size: 16px;
}
/*a标签设置*/
a{
	color: #FFFFFF;
	text-decoration: none;
}
a:hover{
	color: #1ab188;
}
/*登录设置*/
.nav_img{
	float:right;
	position: absolute;
	margin: -6px 0 0 1600px;
}
/*退出设置*/
.nav_2{
	list-style: none;
	float:right;
	margin: -2px 50px;
	color: #FFFFFF;
	size: 20px;
}
/*头像设置*/
.img_head{
	width: 30px;
	height: 30px;
	float: left;
	border-radius: 50px;
	margin: -5px 1720px;
	position: absolute;
}
.img_head img{
	width: 30px;
	height: 30px;
	border-radius:50px;
}
